<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Processing Payment...</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body onload="document.getElementById('automaticPayment').click()">
<div style="text-align: center; margin-top: 50px;">
    <h2>Initializing Payment...</h2>
    <p>Please wait, you will be redirected to the payment page...</p>
</div>

<button id="automaticPayment" style="display: none;">Pay Now</button>

<script th:inline="javascript">
    document.getElementById('automaticPayment').onclick = function(e) {
        var options = {
            "key": /*[[${keyId}]]*/ '',
            "amount": /*[[${amount}]]*/ 0 * 100,
            "currency": "INR",
            "name": "Your Company Name",
            "description": "Order Payment",
            "order_id": /*[[${orderId}]]*/ '',
            "handler": function (response) {
                window.location.href = '/payment/payment-callback?' +
                    'razorpay_order_id=' + response.razorpay_order_id +
                    '&razorpay_payment_id=' + response.razorpay_payment_id +
                    '&razorpay_signature=' + response.razorpay_signature;
            },
            "prefill": {
                "email": "",
                "contact": ""
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    };
</script>
</body>
</html>